    @import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
    body {
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
    
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
    /* header */
    
    .header {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 36px 0;
            border-bottom: 1px solid #BABBC5;
        }
        &.fixed {
            position: fixed;
            background-color: #252B49;
        }
        &.fixed .header__wrapper {
            border-bottom: 0;
            height: auto;
        }
    }
    
    .nav {
        display: flex;
        &__link {
            font-size: 0.813em;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 50px;
                &:hover {
                    border-bottom: 2px solid #BABBC5;
                    &:active {
                        color: #E71414;
                        border-bottom: 2px solid #E71414;
                    }
                }
            }
        }
    }
    /* banner */
    
    .banner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 747px;
        padding-top: 100px;
        background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(/img/banner.jpg) center no-repeat;
        background-size: cover;
        &__wrapper {
            margin: 0 auto;
            width: 100%;
            max-width: 970px;
            text-align: center;
        }
        &__title {
            margin-bottom: 31px;
            font-size: 4.0em;
            line-height: 1.1;
            font-weight: 900;
            color: #fff;
            text-transform: uppercase;
        }
        &__subtitle {
            margin-bottom: 82px;
            font-size: 1.5em;
            font-weight: 400;
            line-height: 1.2;
            color: #fff;
        }
    }
    
    .button {
        width: 370px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: #FF4343;
        font-size: 1.5em;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #E71414;
        }
        &:active {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }
    }
    /* features */
    
    .features {
        margin: 116px 0;
        display: flex;
        flex-wrap: wrap;
        &__item {
            padding: 0 15px;
            width: calc(100%/3);
            text-align: center;
            &:nth-child(n+4) {
                margin-top: 80px;
            }
        }
        &__img {
            margin-bottom: 50px;
        }
        &__title {
            margin-bottom: 40px;
            color: #2D3033;
            font-size: 1.5em;
            font-weight: 900;
            text-transform: uppercase;
        }
        &__text {
            color: #6C7279;
            font-size: 1.125em;
            font-weight: 400;
            line-height: 1.2;
        }
    }
    /* gallery */
    
    .gallery {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        &__item {
            height: 340px;
            position: relative;
            overflow: hidden;
            border: 1px solid #fff;
            &:hover .gallery__content {
                opacity: 1;
                background-color: rgba(255, 67, 67, 0.8);
            }
            &:active .gallery__content {
                background: rgba(185, 12, 12, 0.8);
            }
        }
        &__img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate3d(-50%, -50%, 0);
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 340px;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 2;
            color: #fff;
            border: 2px solid #fff;
        }
        &__title {
            margin-bottom: 36px;
            font-size: 1.5em;
            font-weight: 900;
            text-transform: uppercase;
        }
        &__subtitle {
            font-size: 1.125em;
            font-weight: 400;
        }
    }
    /* team */
    
    .team {
        margin: 114px auto 100px;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
    }
    
    .card {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 14px;
        &__img {
            margin-bottom: 30px;
            display: block;
            width: 100%;
            min-height: auto;
        }
        &__title {
            margin-bottom: 6px;
            font-size: 1.5em;
            font-weight: 700;
            color: #2D3033;
        }
        &__subtitle {
            margin-bottom: 18px;
            font-size: 1.125em;
            font-weight: 400;
            color: #FF4343;
            text-transform: uppercase;
        }
        &__text {
            margin-bottom: 38px;
            font-size: 1.125em;
            font-weight: 400;
            color: #6C7279;
        }
    }
    
    .social__link {
        width: 39px;
        height: 39px;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 6px;
        }
    }
    /* testimonials */
    
    .testimonials {
        background-color: #5C3249;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &__img {
            width: 50%;
            height: 490px;
            position: relative;
        }
        &__pic {
            position: absolute;
            top: 0;
            right: 0;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding-left: 130px;
        }
        &__title {
            margin-bottom: 15px;
            font-family: 'Cardo', serif;
            font-style: italic;
            font-size: 2.25em;
            font-weight: 400;
            color: #fff;
            text-transform: capitalize;
        }
        &__subtitle {
            font-size: 0.813em;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
    }
    /* download */
    
    .download {
        margin: 114px auto;
        text-align: center;
        &__title {
            margin-bottom: 22px;
            font-size: 1.875em;
            font-weight: 500;
            text-transform: capitalize;
        }
        &__subtitle {
            margin-bottom: 50px;
            font-size: 1.125em;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    /* footer */
    
    .footer {
        background-color: #353C65;
        &__wrapper {
            padding: 71px 0;
            display: flex;
            flex-wrap: wrap;
        }
        &__part {
            width: calc(100%/3);
            text-align: center;
            color: #fff;
            font-size: 1.125em;
        }
        &__title {
            margin-bottom: 29px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__text {
            line-height: 1.2;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
    
    .footer .social {
        margin-top: 48px;
        &__link:not(:last-child) {
            margin-right: 26px;
        }
    }
    
    .copyright {
        padding: 24px 0;
        background-color: #2C3154;
        &__text {
            font-size: 1.125em;
            font-weight: 400;
            color: #808080;
            line-height: 1.2;
            text-align: center;
            text-transform: capitalize;
        }
    }
    
    span {
        color: #fff;
    }
    
    #check-menu {
        display: none;
        opacity: 0;
    }
    
    .header label {
        opacity: 0;
    }
    
    @media (max-width: 1024px) {
        .nav__link {
            font-size: 0.75em;
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
        .banner {
            height: 768px;
            &__title {
                margin-bottom: 61px;
                font-size: 3.0em;
            }
            &__subtitle {
                margin-bottom: 91px;
                font-size: 1.125em;
            }
        }
        .button {
            width: 313px;
            height: 78px;
        }
        .features {
            margin: 78px 0 80;
            &__item {
                padding: 0 10px;
                width: calc(100%/3);
                text-align: center;
                &:nth-child(n+4) {
                    margin-top: 45px;
                }
            }
            &__img {
                margin-bottom: 52px;
            }
            &__title {
                margin-bottom: 24px;
                font-size: 1.125em;
            }
            &__text {
                font-size: 0.875em;
            }
        }
        .gallery__item {
            height: 230px;
        }
        .gallery__content {
            height: 230px;
        }
        .gallery__title {
            margin-bottom: 23px;
            font-size: 1.125em;
        }
        .gallery__subtitle {
            font-size: 0.875em;
        }
        .team {
            margin: 78px auto 64px;
        }
        .card {
            padding: 0 13px;
            &__img {
                margin-bottom: 25px;
            }
            &__title {
                font-size: 1.125em;
            }
            &__subtitle {
                margin-bottom: 22px;
                font-size: 0.875em;
            }
            &__text {
                margin-bottom: 39px;
                font-size: 0.875em;
            }
        }
        .social__link {
            width: 33px;
            height: 33px;
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
        .testimonials__img {
            width: 50%;
            height: 490px;
            position: relative;
        }
        &__content {
            width: 50%;
            padding-left: 88px;
        }
        &__title {
            margin-bottom: 12px;
            font-size: 1.5em;
        }
        &__subtitle {
            font-size: 0.75em;
        }
        .download {
            margin: 78px auto;
            &__title {
                margin-bottom: 20px;
                font-size: 1.5em;
            }
            &__subtitle {
                margin-bottom: 46px;
                font-size: 0.875em;
            }
            &__button {
                font-size: 1.125em;
            }
        }
        .footer {
            background-color: #353C65;
            &__wrapper {
                padding: 46px 0 41px;
            }
            &__part {
                font-size: 0.875em;
            }
            &__title {
                margin-bottom: 16px;
            }
        }
        .footer .social {
            margin-top: 32px;
            &__link:not(:last-child) {
                margin-right: 23px;
            }
        }
        .copyright {
            padding: 14px 0;
            &__text {
                font-size: 0.875em;
            }
        }
    }
    
    @media (max-width: 768px) {
        .banner {
            height: auto;
            padding: 140px 20px 52px;
            &__title {
                margin-bottom: 32px;
                font-size: 2.25em;
            }
            &__subtitle {
                margin-bottom: 51px;
                font-size: 0.875em;
            }
            &__button {
                width: 279px;
                height: 58px;
            }
        }
        .features {
            margin: 40px 0 35px;
            padding: 0 20px;
            &__item {
                padding: 0;
                margin: 0 0 40px;
                width: 100%;
                &:nth-child(n+4) {
                    margin-top: 0;
                }
            }
            &__img {
                margin-bottom: 30px;
            }
            &__title {
                margin-bottom: 8px;
            }
        }
        .gallery {
            grid-template-columns: 50% 50%;
            &__item {
                height: 144px;
            }
            &__content {
                height: 144px;
            }
            &__title {
                margin-bottom: 8px;
            }
        }
        .team {
            margin: 35px auto;
            &__wrapper {
                padding: 0 20px;
            }
        }
        .card {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 14px;
            &__img {
                margin-bottom: 25px;
                width: 100%;
                max-width: 280px;
            }
            &__subtitle {
                margin-bottom: 38px;
            }
            &__text {
                margin-bottom: 55px;
            }
        }
        .card:not(:last-child) {
            margin-bottom: 50px;
        }
        .social__link {
            width: 39px;
            height: 39px;
        }
        .testimonials {
            background-color: #5C3249;
            &__img {
                width: 100%;
                margin-bottom: 30px;
            }
            &__content {
                width: 100%;
                padding: 0 20px 0 25px;
                text-align: center;
            }
            &__title {
                margin-bottom: 30px;
                font-size: 1.5em;
            }
            &__subtitle {
                margin-bottom: 95px;
                font-size: 0.75em;
            }
        }
        .download {
            margin: 34px auto 45px;
            padding: 0 20px;
            &__title {
                font-size: 1.125em;
            }
            &__subtitle {
                margin-bottom: 14px;
                font-size: 0.813em;
            }
            &__button {
                width: 278px;
                height: 78px;
            }
        }
        .footer {
            background-color: #353C65;
            &__wrapper {
                padding: 33px 20px;
            }
            &__part {
                width: 100%;
                font-size: 0.875em;
                &:first-child {
                    margin-bottom: 69px;
                }
            }
            &__title {
                margin-bottom: 36px;
            }
        }
        .footer .social {
            margin-top: 36px;
            margin-bottom: 59px;
            &__link:not(:last-child) {
                margin-right: 17px;
            }
        }
        .copyright {
            padding: 29px 0;
            &__text {
                font-size: 0.875em;
            }
        }
        #check-menu {
            display: none;
            width: 100%;
        }
        label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 2;
        }
        .burger__line {
            margin: 15px 0;
            position: absolute;
            top: 23px;
            right: 10px;
            width: 35px;
            height: 2px;
            background-color: #FFFFFF;
            transition: .5s all;
        }
        .second {
            top: 33px;
        }
        .third {
            top: 33px;
        }
        .fourth {
            top: 43px;
        }
        .nav {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            transform: translateY(100%);
            max-height: 0;
            font-size: 0;
            transition: .5s all;
        }
        .nav__link {
            padding: 20px;
            display: block;
            width: 100%;
            color: #fff;
            text-align: left;
            background-color: #252B49;
        }
        #check-menu:checked~.nav {
            font-size: 1em;
            display: block;
            background-color: #252B49;
        }
        #check-menu:checked~.first {
            display: none;
        }
        #check-menu:checked~.second {
            transform: rotate(45deg);
        }
        #check-menu:checked~.third {
            transform: rotate(-45deg);
        }
        #check-menu:checked~.fourth {
            display: none;
        }
    }