@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 0;
  border-bottom: 1px solid #BABBC5;
}

.header.fixed {
  position: fixed;
  background-color: #252B49;
}

.header.fixed .header__wrapper {
  border-bottom: 0;
  height: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-size: 0.813em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:not(:last-child) {
  margin-right: 50px;
}

.nav__link:not(:last-child):hover {
  border-bottom: 2px solid #BABBC5;
}

.nav__link:not(:last-child):hover:active {
  color: #E71414;
  border-bottom: 2px solid #E71414;
}

/* banner */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 747px;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 43, 73, 0.8)), to(rgba(37, 43, 73, 0.8))), url(/img/banner.jpg) center no-repeat;
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(/img/banner.jpg) center no-repeat;
  background-size: cover;
}

.banner__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  text-align: center;
}

.banner__title {
  margin-bottom: 31px;
  font-size: 4.0em;
  line-height: 1.1;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.banner__subtitle {
  margin-bottom: 82px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.button {
  width: 370px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #FF4343;
  font-size: 1.5em;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #E71414;
}

.button:active {
  background-color: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

/* features */
.features {
  margin: 116px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  padding: 0 15px;
  width: calc(100%/3);
  text-align: center;
}

.features__item:nth-child(n+4) {
  margin-top: 80px;
}

.features__img {
  margin-bottom: 50px;
}

.features__title {
  margin-bottom: 40px;
  color: #2D3033;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.features__text {
  color: #6C7279;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.2;
}

/* gallery */
.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.gallery__item {
  height: 340px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}

.gallery__item:hover .gallery__content {
  opacity: 1;
  background-color: rgba(255, 67, 67, 0.8);
}

.gallery__item:active .gallery__content {
  background: rgba(185, 12, 12, 0.8);
}

.gallery__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 340px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  border: 2px solid #fff;
}

.gallery__title {
  margin-bottom: 36px;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.gallery__subtitle {
  font-size: 1.125em;
  font-weight: 400;
}

/* team */
.team {
  margin: 114px auto 100px;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.card {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 14px;
}

.card__img {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  min-height: auto;
}

.card__title {
  margin-bottom: 6px;
  font-size: 1.5em;
  font-weight: 700;
  color: #2D3033;
}

.card__subtitle {
  margin-bottom: 18px;
  font-size: 1.125em;
  font-weight: 400;
  color: #FF4343;
  text-transform: uppercase;
}

.card__text {
  margin-bottom: 38px;
  font-size: 1.125em;
  font-weight: 400;
  color: #6C7279;
}

.social__link {
  width: 39px;
  height: 39px;
  text-decoration: none;
}

.social__link:not(:last-child) {
  margin-right: 6px;
}

/* testimonials */
.testimonials {
  background-color: #5C3249;
}

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__img {
  width: 50%;
  height: 490px;
  position: relative;
}

.testimonials__pic {
  position: absolute;
  top: 0;
  right: 0;
}

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding-left: 130px;
}

.testimonials__title {
  margin-bottom: 15px;
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: 2.25em;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.testimonials__subtitle {
  font-size: 0.813em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* download */
.download {
  margin: 114px auto;
  text-align: center;
}

.download__title {
  margin-bottom: 22px;
  font-size: 1.875em;
  font-weight: 500;
  text-transform: capitalize;
}

.download__subtitle {
  margin-bottom: 50px;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}

/* footer */
.footer {
  background-color: #353C65;
}

.footer__wrapper {
  padding: 71px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__part {
  width: calc(100%/3);
  text-align: center;
  color: #fff;
  font-size: 1.125em;
}

.footer__title {
  margin-bottom: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__text {
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}

.footer .social {
  margin-top: 48px;
}

.footer .social__link:not(:last-child) {
  margin-right: 26px;
}

.copyright {
  padding: 24px 0;
  background-color: #2C3154;
}

.copyright__text {
  font-size: 1.125em;
  font-weight: 400;
  color: #808080;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
}

span {
  color: #fff;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .nav__link {
    font-size: 0.75em;
  }
  .nav__link:not(:last-child) {
    margin-right: 40px;
  }
  .banner {
    height: 768px;
  }
  .banner__title {
    margin-bottom: 61px;
    font-size: 3.0em;
  }
  .banner__subtitle {
    margin-bottom: 91px;
    font-size: 1.125em;
  }
  .button {
    width: 313px;
    height: 78px;
  }
  .features {
    margin: 78px 0 80;
  }
  .features__item {
    padding: 0 10px;
    width: calc(100%/3);
    text-align: center;
  }
  .features__item:nth-child(n+4) {
    margin-top: 45px;
  }
  .features__img {
    margin-bottom: 52px;
  }
  .features__title {
    margin-bottom: 24px;
    font-size: 1.125em;
  }
  .features__text {
    font-size: 0.875em;
  }
  .gallery__item {
    height: 230px;
  }
  .gallery__content {
    height: 230px;
  }
  .gallery__title {
    margin-bottom: 23px;
    font-size: 1.125em;
  }
  .gallery__subtitle {
    font-size: 0.875em;
  }
  .team {
    margin: 78px auto 64px;
  }
  .card {
    padding: 0 13px;
  }
  .card__img {
    margin-bottom: 25px;
  }
  .card__title {
    font-size: 1.125em;
  }
  .card__subtitle {
    margin-bottom: 22px;
    font-size: 0.875em;
  }
  .card__text {
    margin-bottom: 39px;
    font-size: 0.875em;
  }
  .social__link {
    width: 33px;
    height: 33px;
  }
  .social__link:not(:last-child) {
    margin-right: 5px;
  }
  .testimonials__img {
    width: 50%;
    height: 490px;
    position: relative;
  }
  __content {
    width: 50%;
    padding-left: 88px;
  }
  __title {
    margin-bottom: 12px;
    font-size: 1.5em;
  }
  __subtitle {
    font-size: 0.75em;
  }
  .download {
    margin: 78px auto;
  }
  .download__title {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .download__subtitle {
    margin-bottom: 46px;
    font-size: 0.875em;
  }
  .download__button {
    font-size: 1.125em;
  }
  .footer {
    background-color: #353C65;
  }
  .footer__wrapper {
    padding: 46px 0 41px;
  }
  .footer__part {
    font-size: 0.875em;
  }
  .footer__title {
    margin-bottom: 16px;
  }
  .footer .social {
    margin-top: 32px;
  }
  .footer .social__link:not(:last-child) {
    margin-right: 23px;
  }
  .copyright {
    padding: 14px 0;
  }
  .copyright__text {
    font-size: 0.875em;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .burger__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
  }
  .burger__line::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    top: -8px;
    background-color: #fff;
  }
  .burger__line::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    bottom: -8px;
    background-color: #fff;
  }
  .nav {
    display: none;
    padding-bottom: 100px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #252B49;
  }
  .nav__link {
    font-size: 0.813em;
    padding: 20px;
  }
  .nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner {
    height: auto;
    padding: 140px 20px 52px;
  }
  .banner__title {
    margin-bottom: 32px;
    font-size: 2.25em;
  }
  .banner__subtitle {
    margin-bottom: 51px;
    font-size: 0.875em;
  }
  .banner__button {
    width: 279px;
    height: 58px;
  }
  .features {
    margin: 40px 0 35px;
    padding: 0 20px;
  }
  .features__item {
    padding: 0;
    margin: 0 0 40px;
    width: 100%;
  }
  .features__item:nth-child(n+4) {
    margin-top: 0;
  }
  .features__img {
    margin-bottom: 30px;
  }
  .features__title {
    margin-bottom: 8px;
  }
  .gallery {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .gallery__item {
    height: 144px;
  }
  .gallery__content {
    height: 144px;
  }
  .gallery__title {
    margin-bottom: 8px;
  }
  .team {
    margin: 35px auto;
  }
  .team__wrapper {
    padding: 0 20px;
  }
  .card {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 14px;
  }
  .card__img {
    margin-bottom: 25px;
    width: 100%;
    max-width: 280px;
  }
  .card__subtitle {
    margin-bottom: 38px;
  }
  .card__text {
    margin-bottom: 55px;
  }
  .card:not(:last-child) {
    margin-bottom: 50px;
  }
  .social__link {
    width: 39px;
    height: 39px;
  }
  .testimonials {
    background-color: #5C3249;
  }
  .testimonials__img {
    width: 100%;
    margin-bottom: 30px;
  }
  .testimonials__content {
    width: 100%;
    padding: 0 20px 0 25px;
    text-align: center;
  }
  .testimonials__title {
    margin-bottom: 30px;
    font-size: 1.5em;
  }
  .testimonials__subtitle {
    margin-bottom: 95px;
    font-size: 0.75em;
  }
  .download {
    margin: 34px auto 45px;
    padding: 0 20px;
  }
  .download__title {
    font-size: 1.125em;
  }
  .download__subtitle {
    margin-bottom: 14px;
    font-size: 0.813em;
  }
  .download__button {
    width: 278px;
    height: 78px;
  }
  .footer {
    background-color: #353C65;
  }
  .footer__wrapper {
    padding: 33px 20px;
  }
  .footer__part {
    width: 100%;
    font-size: 0.875em;
  }
  .footer__part:first-child {
    margin-bottom: 69px;
  }
  .footer__title {
    margin-bottom: 36px;
  }
  .footer .social {
    margin-top: 36px;
    margin-bottom: 59px;
  }
  .footer .social__link:not(:last-child) {
    margin-right: 17px;
  }
  .copyright {
    padding: 29px 0;
  }
  .copyright__text {
    font-size: 0.875em;
  }
}
/*# sourceMappingURL=style.css.map */